@(title: String, ids: List[String])
@import play.twirl.api.StringInterpolation
@display(first: String, second: String) = {
    <div>@first.toLowerCase,(@second.toUpperCase)</div>
}
<!DOCTYPE html>
<html>
    <head>
        <title>@title</title>
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")"/>
    </head>
    <body>
        <ul>
        @for(id <- ids) {
            <li>@id</li>
        }
        </ul>
        @user.someUser("sad")
    </body>
</html>